@use "./assets/mixins.scss" as *;

:root {
  // COLORS
  --color-green-primary: #3c533c;
  --color-green-light: #588157;
  --color-green-hilight: #dbfadf;
  --color-green-hilight-hover: #cbfcd1;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #ddd;
  --color-grey-light-3: #acacac;
  --color-grey-dark-1: #777;
  --color-grey-dark-2: #333;

  // FONT SIZES
  --font-size-sm: 1.2rem;
  --font-size-md: 1.4rem;
  --font-size-lg: 1.8rem;

  // BOX SHADOWS
  --box-shadow-light: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);

  // BORDER
  --border-grey-light: 1px solid var(--color-grey-light-2);
  --border-grey-dark: 1px solid #c8c8c8;

  // BORDER RADIUS
  --border-radius: 1.2rem;

  // TRANSITION
  --transition: all 0.3s;
}

// GLOBAL RESET

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  @include respond(1400) {
    font-size: 56.25%;
  }

  @include respond(1200) {
    font-size: 50%;
  }

  @include respond(600) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
}

// TYPOGRAPHY

body {
  color: var(--color-grey-dark-2);
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

::selection {
  background-color: var(--color-green-hilight);
}

// GLOBAL STYLES

h2 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  transition: var(--transition);
  // border-radius: 1000rem;
  font-family: inherit;
}

input,
select {
  font-family: inherit;
}

#sort-table-select-label {
  font-weight: 500;
}

#sort-table-select {
  width: 50%;
  flex: 1;
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  font-family: inherit;
  background-color: #fff;
  border: var(--border-grey-dark);
}
