.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  visibility: hidden !important;
}

.no-border {
  border: none !important;
}

.preload {
  transition: none !important;
}
