:root {
  --color-green-primary: #3c533c;
  --color-green-light: #588157;
  --color-green-hilight: #dbfadf;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #ddd;

  // --color-green-4: #a3b18a;
  // --color-green-5: #dad7cd;
  // --color-green-6: #5d7167;

  --color-dark-1: #777;
  --color-dark-2: #555;
  --color-dark-3: #333;
  --color-light-2: #ececec;
  --color-light-4: #aaa;
}
