@use "../abstracts/mixins" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

  @include respond(1400) {
    font-size: 56.25%;
  }

  @include respond(1200) {
    font-size: 50%;
  }

  @include respond(600) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-green-hilight);
}
