.btn {
  display: flex;
  align-items: center;
  fill: var(--color-green-primary);
  background-color: transparent;

  &:hover {
    fill: var(--color-green-light);
  }

  &:disabled {
    fill: var(--color-grey-light-3);
    cursor: default;
  }
}

.icon {
  height: 2.2rem;
  width: 2.2rem;
}

.small {
  height: 2rem;
  width: 2rem;
}
