@use "../abstracts/mixins" as *;

#map {
  height: 100%;
  width: 100%;
  z-index: -1;
  font-family: inherit;
  position: fixed;
  top: 0;
}

.peak-popup {
  text-align: center;
  display: flex;
  flex-direction: column;

  &__label-name {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__label-elevation {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }

  &__label-date {
    font-size: 1.2rem;

    strong {
      font-weight: 500;
      color: var(--color-grey-dark-2);
      text-decoration: underline;
    }
  }
}

.location-popup {
  font-size: 1.2rem;
}

.leaflet-control {
  @include respond(800) {
    margin-bottom: 2rem !important;
  }
}