@use "../abstracts/mixins" as *;

.progress-bar {
  width: 100%;
  height: 1.6rem;
  border-radius: 100rem;
  background-color: var(--color-grey-light-2);
  position: relative;
  overflow: hidden;
  border: var(--border-grey-dark);
  &__label {
    @include absolute-center;
  }

  &__progress {
    background-color: var(--color-green-hilight);
    height: 100%;
  }
}
