@use "../abstracts/mixins" as *;

.btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1000rem;
  font-family: inherit;

  &--green {
    background-color: var(--color-green-primary);
    color: var(--color-grey-light-1);

    &:hover {
      background-color: var(--color-green-light);
    }
  }
}

.btn-icon {
  display: flex;
  align-items: center;
  fill: var(--color-green-primary);
  background-color: transparent;

  &:hover {
    fill: var(--color-green-light);
  }

  &__icon {
    height: 2.2rem;
    width: 2.2rem;

    &--sm {
      height: 2rem;
      width: 2rem;
    }
  }
}

.btn-text {
  background-color: transparent;
  font-weight: 400;
  transition: none;
  border-radius: 0;
  display: inline-block;
  text-transform: uppercase;
  font-size:1.4rem;

  &--light {
    color: var(--color-grey-light-1);
  }

  &--green {
    color: var(--color-green-primary);
  }

  &--active,
  &:hover {
    font-weight: 700;
  }
}

.btn-close {
  color: #555;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 1.2rem 0 1.2rem;
  margin: 1.2rem 2.4rem;
  font-size: 4.8rem;
  z-index: 10;

  &:hover {
    color: var(--color-green-light);
  }
}

.btn-view {
  padding: 0.8rem 1.8rem;

  @include respond(1000) {
    font-size: 1.4rem;
  }

  &--sm {
    font-size: 1.2rem;
    padding: 0.5rem 1.4rem;
  }
}

.btn-back {
  grid-row: 1/-1;

  @include respond(600) {
    // grid-row: 1;
  }
}

.btn-add-entry {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: var(--color-grey-light-1);
  padding: 0.8rem 2rem;
  border-radius: 1000rem;

  &__icon {
    fill: var(--color-grey-light-1);
    height: 1.8rem;
    width: 1.8rem;
  }
}

.btn-log-trip {
  font-weight: 400;
  color: var(--color-green-primary);

  @include respond(1200) {
    font-size:1.4rem;
  }
}

.btn-location {
  position: fixed;
  right: 5.5rem;
  bottom: 2.8rem;
  padding: 1rem;
  display: flex;

  @include respond(1200) {
    right: 1rem;
    bottom: 11rem;
  }

  @include respond(800) {
    bottom: 13.8rem;
  }

  @include respond(800) {
    bottom: 15rem;
    right:1.2rem;
    padding:1.2rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-light-1);
  }
}

.btn-inline {
  background-color: transparent;
  text-decoration: underline;
  font-size: inherit;
  font-weight: 300;

  &--green {
    color: var(--color-green-primary);

    &:hover {
      font-weight: 400;
    }
  }
  &--light {
    color: var(--color-grey-light-1);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-data {
  padding: 0.8rem 1.4rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size:1.4rem;
}

.btn-pagination {
  background-color: var(--color-grey-light-1);
  color: var(--color-grey-dark-2);
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  grid-row: 1/-1;

  &:hover {
    background-color: var(--color-grey-light-2);
  }

  &--next {
    justify-self: end;
    grid-column: -2/-1;
  }

  &--prev {
    justify-self: start;
    grid-column: 1 / 2;
  }
}

#btn-load-data-map,
#btn-clear-data-map {

  @include respond(800) {
    font-size:1.4rem;
  }

  @include respond(800) {
    font-size:1.2rem;
  }
}
