.btn {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 1000rem;
  font-family: inherit;

  &--green {
    background-color: var(--color-green-primary);
    color: var(--color-grey-light-1);

    &:hover {
      background-color: var(--color-green-light);
    }
  }
}

.btn-icon {
  fill: var(--color-green-primary);
  background-color: transparent;

  &:hover {
    fill: var(--color-green-light);
  }

  &__icon {
    height: 2.2rem;
    width: 2.2rem;
  }
}

.btn-text {
  background-color: transparent;
  font-weight: 400;
  transition: none;
  border-radius: 0;
  display: inline-block;

  &--light {
    color: var(--color-grey-light-1);
  }

  &--green {
    color: var(--color-green-primary);
  }

  &--active,
  &:hover {
    font-weight: 700;
  }
}

.btn-close {
  color: #555;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 1.2rem 0 1.2rem;
  padding: 1.2rem 2.4rem;
  font-size: 4.8rem;

  &:hover {
    color: var(--color-green-light);
  }
}

.btn-view {
  padding: 0.8rem 1.8rem;
}

.btn-back {
  grid-row: 1/-1;
}

.btn-add-entry {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  font-size: 1.6rem;
  color: var(--color-grey-light-1);
  padding: 0.8rem 2rem;
  border-radius: 1000rem;

  &__icon {
    fill: var(--color-grey-light-1);
    height: 1.8rem;
    width: 1.8rem;
  }
}

.btn-log-trip {
  font-weight: 400;
}
