.logo {
  height: 12rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--color-grey-light-1);
  border: 2px solid var(--color-grey-light-2);
  box-shadow: var(--box-shadow-light);
  grid-column: 1/-1;
  margin-bottom: 0.6rem;
}

.logo-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  z-index: 10;
  gap: 0.6rem;
}