.logo {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  z-index: 10;
  height: 12rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--color-grey-light-1);
  border: 2px solid var(--color-grey-light-2);
  box-shadow: var(--box-shadow-light);
}
