.log-entry {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 40% 60%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding: 2.4rem 4rem;
  font-size: 1.6rem;

  &__label {
    font-weight: 700;
  }

  &__peaks,
  &__lists {
    display: flex;
    flex-direction: column;
  }
}
