@use "../abstracts/mixins" as *;

.log-entry {
  display: grid;
  row-gap: 2rem;
  column-gap: 3.6rem;
  grid-template-columns: max-content 1fr;
  padding: 2.4rem 4rem;
  font-size: 1.6rem;

  @include respond(1200) {
    column-gap: 2.4rem;
  }

  &__label {
    font-weight: 700;
  }

  &__peaks .btn-view--sm {
    grid-column: 2;
    grid-row: 1/-1;
  }

  &__lists,
  &__peaks {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    gap: 0.6rem;
  }
}
