@use "../abstracts/mixins" as *;

.modal {
  @include absolute-center;
  background-color: var(--color-grey-light-1);
  height: 80vh;
  width: 60vw;
  min-width: 110rem;
  z-index: 15;
  border-radius: 1.2rem;
  box-shadow: var(--box-shadow-dark);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
    width: 80%;
    padding: 4.4rem 8%;
    font-size: 1.8rem;
    overflow-y: overlay;
    height: 80vh;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0.6rem;
      background-color: var(--color-grey-light-2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-grey-dark-1);
      border-radius: 1.2rem;
    }
  }

  &__heading-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    align-self: center;
    column-gap: 2rem;
    row-gap: 1.2rem;
  }

  &__icon {
    height: 8rem;
    justify-self: end;
    border-radius: 1000rem;
    border: 1px solid var(--color-grey-light-3);
    box-shadow: var(--box-shadow-light);
  }

  &__heading {
    font-size: 3.6rem;
    font-weight: 700;
    gap: 2rem;
    align-self: center;
  }

  &__sub-heading-wrapper {
    display: flex;
    grid-column: span 2;
    position: relative;
    gap: 0.6rem;
  }

  .btn-question:hover ~ .modal__question-bubble {
    opacity: 1;
    visibility: visible;
  }

  &__sub-heading {
    align-self: center;
    font-size: 2rem;
    font-weight: 500;
  }

  &__question-bubble {
    border: var(--border-grey-dark);
    border-radius: 1.2rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    width: 20rem;
    position: absolute;
    top: 50%;
    transform: translate(105%, -50%);
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &__features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  &__feature {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    column-gap: 1.2rem;
    row-gap: 1.2rem;
  }

  &__feature-icon {
    height: 3rem;
    width: 3rem;
    fill: var(--color-green-primary);
  }

  &__feature-heading {
    font-weight: 600;
  }

  &__feature-text {
    grid-column: span 2;
    line-height: 1.7;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }

  &__list-item {
    span {
      display: inline-block;
      margin-bottom: 2.4rem;
    }

    &::before {
      content: "";
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: 0.6rem;

      background-color: var(--color-green-primary);
      -webkit-mask-box-image: url(../img/icons/chevron-right-solid.svg);
      mask-size: cover;
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(7px);
  position: absolute;
  z-index: 14;
}
