@use "../abstracts/mixins" as *;

.form-new-entry {
  display: flex;
  flex-direction: column;

  input,
  select {
    padding: 1.2rem;
    border-radius: 1rem;
    border: none;
    font-family: inherit;
    background-color: #fff;

    @include respond(1000) {
      font-size: 1.3rem;
    }

    &:focus {
      outline: 1px solid var(--color-green-light);
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    border-top: var(--border-grey-dark);
    padding: 2.4rem 1.8rem;
    width: 100%;
  }

  &__row:first-child {
    border-top: none;
  }

  &__heading-wrapper {
    display: flex;
    gap: 1.8rem;
    align-items: center;
  }

  &__label-primary,
  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
  }

  &__label-secondary {
    font-size: 1.4rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  // DATE

  &__date-grid {
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    gap: 1.2rem;
  }

  .btn-date {
    width: 90%;
    justify-self: flex-start;
  }

  .btn-today {
    justify-self: flex-end;
  }

  .btn-today,
  .btn-yesterday {
    font-size: 1.4rem;
  }

  // ADD PEAKS

  &__peaks-grid {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 1.2rem;
    column-gap: 2.4rem;
  }

  &__checkbox-grid {
    column-count: 2;
    justify-content: center;
    row-gap: 0.6rem;
    padding: 1rem 1rem;
    list-style: none;
    padding-bottom: 0;

    li {
      display: flex;
      margin-bottom: 0.8rem;
    }
  }

  // Customize the label (the container)
  &__checkbox-container {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    cursor: pointer;
    user-select: none;
  }

  // Hide default checkbox
  &__checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // Create custom checkbox
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background-color: #eee;
    border: 1px solid var(--color-grey-light-2);
  }

  // On mouse-over add background color
  &__checkbox-container:hover input ~ &__checkmark {
    background-color: var(--color-grey-light-3);
  }

  // When the checkbox is checked, add colored background to container
  &__checkbox-container input:checked ~ &__checkmark {
    background-color: var(--color-green-hilight-hover);
    border: none;
  }

  // Create the checkmark
  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  // Show the checkmark when checked
  &__checkbox-container input:checked ~ &__checkmark:after {
    display: block;
  }

  // Style the checkmark
  &__checkbox-container &__checkmark:after {
    left: 0.8rem;
    top: 0.4rem;
    width: 0.5rem;
    height: 1rem;
    border: solid var(--color-grey-dark-1);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  /* STATS */

  &__stats-grid {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    gap: 1.2rem;
    align-items: center;
  }

  &__stat-row {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    input {
      flex: 1;
    }
  }

  .btn-add-stat {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  // NOTES

  #notes {
    resize: none;
    height: 10rem;
    font-family: inherit;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
    font-size:1.4rem;

    &:focus {
      outline: 1px solid var(--color-green-light);
    }
  }

  // RATING

  &__row-rating {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper-stars {
    display: flex;
  }

  &__footer {
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 0 1.2rem;
    background-color: var(--color-grey-light-2);
    border-top: var(--border-grey-dark);
    padding: 1rem 1rem 1rem 2.4rem;
    bottom: 0;
  }

  .btn-clear-form {
    font-weight: 500;
  }
}

.btn-star {
  background-color: transparent;

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    pointer-events: none;

    &--full {
      fill: #ffd61e;
    }
  }
}
