.form-new-entry {
  display: flex;
  flex-direction: column;

  input,
  select {
    padding: 1.2rem;
    border-radius: 1.2rem;
    border: none;
    font-family: inherit;
    background-color: #fff;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    border-top: var(--border-grey-dark);
    padding: 2.4rem 1.8rem;
    width: 100%;
  }

  &__row:first-child {
    border-top: none;
  }

  &__heading-wrapper {
    display: flex;
    gap: 1.8rem;
    align-items: center;
  }

  &__label-primary,
  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
  }

  &__label-secondary {
    font-size: 1.4rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }

  // DATE

  &__date-grid {
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    gap: 1.2rem;
  }

  .btn-date {
    width: 90%;
    justify-self: flex-start;
  }

  .btn-today {
    justify-self: flex-end;
  }

  .btn-today,
  .btn-yesterday {
    font-size: 1.4rem;
  }

  // ADD PEAKS

  &__peaks-grid {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 1.2rem;
    column-gap: 2.4rem;
  }

  &__checkbox-grid {
    display: grid;
    grid-template-columns: 10% 1fr 10% 1fr;
    justify-content: center;
    row-gap: 0.6rem;
    padding: 1rem 0;
  }

  &__checkbox-grid-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  /* STATS */

  &__stats-grid {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    gap: 1.2rem;
    align-items: center;
  }

  &__stat-row {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    input {
      flex: 1;
    }
  }

  .btn-add-stat {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  // NOTES

  #notes {
    resize: none;
    height: 10rem;
    font-family: inherit;
    padding: 0.8rem;
  }

  // RATING

  &__row-rating {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper-stars {
    display: flex;
  }

  &__footer {
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 0 1.2rem;
    background-color: var(--color-grey-light-2);
    border-top: var(--border-grey-dark);
    padding: 1rem 1rem 1rem 2.4rem;
    bottom: 0;
  }
}

.btn-star {
  background-color: transparent;

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    pointer-events: none;

    &--full {
      fill: #ffd61e !important;
    }
  }
}

.btn-clear-form {
  font-weight: 500;
}
