.peak-list-table {
  border-collapse: collapse;
  padding: 5rem;

  th,
  td {
    padding: 0.6rem 1.6rem;
  }

  th {
    background-color: var(--color-grey-light-2);
  }

  &__head-number {
    width: 10%;
    text-align: center;
  }

  &__head-name {
    text-align: left;
  }

  &__head-state {
    width: 10%;
  }

  &__head-elevation {
    width: 20%;
  }

  &__head-date {
    width: 20%;
  }

  td {
    border-top: 1px solid var(--color-grey-light-3);
    text-align: center;
  }

  &__row--complete {
    background-color: var(--color-green-hilight);

    &:hover {
      background-color: var(--color-green-hilight-hover);
      cursor: default;
    }
  }

  &__row:not(.peak-list-table__row--complete) {
    &:hover {
      background-color: #eee;
      cursor: default;
    }
  }
}

#sort-table-select-label {
  font-weight: 500;
}

#sort-table-select {
  width: 50%;
  flex: 1;
  padding: 0.2rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  font-family: inherit;
  background-color: #fff;
  border: var(--border-grey-dark);
}

.peak-list-description {
  border-top: var(--border-grey-dark);
  padding: 1.6rem 3rem 2rem 3rem;
}
