.preview-list {
  display: grid;
  height: 100%;

  &--peak-lists {
    grid-template-rows: repeat(6, 1fr);
  }

  &--log-entries {
    grid-template-rows: repeat(6, 1fr);
  }

  &__entry {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    border-top: var(--border-grey-light);
    padding: 2rem;
    gap: 2.4rem;
    align-items: center;
  }

  &__entry:first-child {
    border-top: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__label-primary {
    font-size: 1.5rem;
    font-weight: 300;

    strong {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.preview-wrapper {
  display: grid;
  padding: 0.8rem 1.6rem;

  align-items: center;
  justify-content: center;
  background-color: var(--color-green-primary);

  &--select {
    gap: 1.2rem;

    select {
      padding: 0.2rem 0.8rem;
      border-radius: 0.4rem;
      border: none;
      font-family: inherit;
      background-color: #fff;
    }

    label {
      color: var(--color-grey-light-1);
      font-weight: 400;
      font-size: 1.4rem;
    }
  }

  &--peak-list {
    grid-template-columns: 1fr 9.5rem 9.5rem 1fr;
    justify-content: space-between;
    grid-template-rows: 2.4rem;
  }

  &--log-preview {
    grid-template-columns: 1fr max-content 25% 25% 1fr;
    grid-template-rows: repeat(2, max-content);

    label {
      grid-column: 2 / 3;
    }

    .select-list {
      grid-column: 3/5;
    }
  }

  &--stats {
    grid-template-columns: max-content 25% 25%;

    .select-list {
      grid-column: span 2;
    }
  }
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
  font-size: 1.8rem;
  flex-direction: column;
  margin: 0 10rem;
  gap: 2rem;
}

.btn-all-lists {
  grid-column: 2;
}

.btn-saved-lists {
  grid-column: 3;
}
