/*///////////////////////////////////////////////////////////////////////////////////
// PEAK LIST CONTAINER */

/* ALL PEAK LISTS CONTAINER */

.preview-list {
  &__entry {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    border-top: var(--border-grey-light);
    padding: 2.4rem 2rem;
    gap: 2.4rem;
    align-items: center;
  }

  &__entry:first-child {
    border-top: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__label-primary {
    font-size: 1.5rem;
    font-weight: 300;

    strong {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
  font-size: 1.8rem;
  flex-direction: column;
  margin: 0 2rem;
  gap: 2rem;
}

.preview-wrapper {
  display: grid;
  padding: 0.8rem 0;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green-primary);
  grid-template-rows: 2.4rem;
}

.peak-list-preview-wrapper {
  grid-template-columns: repeat(2, 9.5rem);
}

.log-preview-wrapper {
  grid-template-columns: max-content 45%;

  gap: 1.2rem;

  select {
    padding: 0.2rem 0.8rem;
    border-radius: 0.4rem;
    border: none;
    font-family: inherit;
    background-color: #fff;
  }

  label {
    color: var(--color-grey-light-1);
    font-weight: 400;
    font-size: 1.4rem;
  }
}
