.progress-bar {
  width: 100%;
  height: 1.4rem;
  font-weight: 500;
  border-radius: 100rem;
  background-color: var(--color-grey-light-2);
  position: relative;
  overflow: hidden;
}

.progress-bar__label {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
}

.progress {
  background-color: var(--color-green-hilight);
  height: 1.4rem;
}
