.container-main {
  display: flex;
  position: absolute;
  height: 95vh;
  top: 50%;
  width: 60rem;
  left: 0;
  transform: translate(47%, -50%);
  background-color: var(--color-grey-light-1);
  border-radius: 1.2rem;
  border: var(--border-grey-dark);
  box-shadow: var(--box-shadow-dark);
  z-index: 2;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  width: 100%;
  margin-top: 3rem;

  &::-webkit-scrollbar {
    // appearance: none;
    width: 0.6rem;
    background-color: var(--color-grey-light-2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-dark-1);
    border-radius: 1.2rem;
  }
}
