/*//////////////////////////////////////////////////////////////////////////////////
// SIDEBAR */
.sidebar {
  background-color: var(--color-green-primary);
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 1.2rem 0rem;
  gap: 3.6rem;
  transition: margin-left 0.5s;
  height: 100vh;
  justify-content: space-between;
  width: 25rem;
  z-index: 2;
  box-shadow: 0 2.4rem 3rem rgba(0, 0, 0, 0.1);
}

.sidebar__btn {
  border: none;
  background-color: transparent;
  color: #fff;
  align-self: flex-end;
  padding: 0 2.4rem;
}

.main-nav__list {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: flex-end;
}

.main-nav__list li {
  width: 100%;
}

.main-nav__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.4rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #f7f7f7;
  background-color: transparent;
  padding: 2.4rem;
  width: 100%;
  border-radius: 0;
}

.main-nav__btn--active {
  color: var(--color-green-primary);
  background-color: #f7f7f7;
  position: relative;
}

.main-nav__btn-active:before {
  content: "";
  border-style: solid;
  border-width: 1rem 0 1rem 2rem;
  border-color: transparent transparent transparent var(--color-green-primary);
  position: absolute;
  left: 0;
}

.main-nav__icon {
  font-size: 3rem;
}

.wrapper-btn {
  gap: 3rem;
}

.wrapper-btn span {
  align-self: center;
}
