/*//////////////////////////////////////////////////////////////////////////////////
// SIDEBAR */
.sidebar {
  background-color: var(--color-green-primary);
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: margin-left 0.5s;
  height: 100vh;
  justify-content: space-between;
  width: 25rem;
  z-index: 10;
  box-shadow: 1rem 0rem 4rem rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;

  &__btn {
    border: none;
    background-color: transparent;
    color: #fff;
    grid-column: 2;
    grid-row: 1/-1;
    padding: 1.2rem 2.4rem 1.2rem 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(3, max-content);
    flex-direction: column;
    justify-items: center;
    row-gap: 0.6rem;
    margin-bottom:2.4rem;
  }

  &__copyright {
    color: var(--color-grey-light-1);
    font-size: 1.5rem;
  }
}

.main-nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.2rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.4rem;
    font-size: 1.8rem;
    color: var(--color-grey-light-1);
    background-color: transparent;
    padding: 2.4rem;
    width: 100%;
    border-radius: 0;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      var(--color-grey-light-1) 50%
    );
    background-size: 225%;

    &:hover {
      color: var(--color-green-primary);
      background-position: 100%;

      .main-nav__icon {
        fill: var(--color-green-primary);
      }
    }

    &--active {
      color: var(--color-green-primary);
      background-color: #f7f7f7;

      .main-nav__icon {
        fill: var(--color-green-primary);
      }
    }
  }

  &__icon {
    height: 2.2rem;
    width: 2.2rem;
    fill: #fff;
    transition: all 0.3s;
  }
}
